<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>服务商</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/wex_home.css">
    <style>
        a{
            color: black;text-decoration: none;
        }
        a:visited{
            color: black;
        }
        .label-green{
            font-size: 12px;
            color: #14BC4D;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            background: #E1F9E3;
            border: 1px solid #14BC4D;
        }
        .label-blue{
            font-size: 12px;
            color: #2B85E1;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            background: #E8F3FF;
            border: 1px solid #2B85E1;
        }
        .label-red{
            font-size: 12px;
            color: #FD4F4A;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            background: #FFEBEB;
            border: 1px solid #FD4F4A;
        }
        .label-yellow{
            font-size: 12px;
            color: #EEA70E;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            background: #FCF5E3;
            border: 1px solid #EEA70E;
        }
        label{
            font-weight: normal;
        }
        .p0{
            padding: 0;
        }
    </style>
</head>
<body style="overflow-y: auto">
<div class="container-fluid">
    <div class="row gradient" style="height: 50px;line-height: 50px;text-align: center">
        <font style="font-size: 18px;font-weight: 300;color: white;">服务商</font>
    </div>
</div>
<!--收缩框-->
<div class="container-fluid" style="height: 30px;line-height: 30px;text-align: center;padding: 5px;font-size: 14px;font-weight: 400">
    <div class="col-xs-3" style="border-right: 2px solid #efeff4">
        <input class="weui-input" id="provice" onchange="loadAjax()" type="text" value="重庆" data-values="">
    </div>
    <div class="col-xs-3" style="border-right: 2px solid #efeff4">
        <input class="weui-input" id="chkType" onchange="loadAjax()" type="text" value="类型" data-values="">
    </div>
    <div class="col-xs-3" style="border-right: 2px solid #efeff4">
        <input class="weui-input" id="authType" onchange="loadAjax()" type="text" value="认证" data-values="">
    </div>
    <div class="col-xs-3">
        <input class="weui-input" id="userType" onchange="loadAjax()" type="text" value="类型" data-values="">
    </div>
</div>

<!--分隔线-->
<div class="col-xs-12" style="padding: 0;background: #F0F0F0;height: 8px;margin-top: 5px"></div>

<!--服务商-->
<div class="container-fluid" id="all_data">
    <#if list?exists>
        <#list list as item>
        <a href="/wx/severInfo/${item.serverId?c}">
        <div class="col-xs-12 p0 xxx" style="margin-top: 1rem;padding-bottom: 0.2rem;border-bottom: 1px solid #efeff4;">
            <div class="col-xs-3 p0" style="height: 120px;">
                <#if item.companyImage?exists>
                    <img src="${item.companyImage}" class="img-responsive" style="display: inline-block; vertical-align: middle; max-height: 120px"/>
                <#else>
                    <img src="../../static/img/ser1.png" class="img-responsive" style="display: inline-block; vertical-align: middle; max-height: 120px"/>
                </#if>
            </div>
            <div class="col-xs-9 p0" style="padding-left: 0.2rem">
                <div style="font-weight: 600;">
                    <#if item.companyName? length gt 15>
                        ${item.companyName?substring(0,12)}...
                    <#else>
                        ${item.companyName}
                    </#if>
                </div>
                <div style="margin-top: 0.1rem">
                    <#if item.serverCategory?exists>
                        <#list item.serverCategory?split(",") as name>
                            <#if name_index % 4 == 0>
                                <label class="label-green">${name}</label>
                            </#if>
                            <#if name_index  % 4 == 1>
                                <label class="label-blue">${name}</label>
                            </#if>
                            <#if name_index  % 4 == 2>
                                <label class="label-red">${name}</label>
                            </#if>
                            <#if name_index  % 4 == 3>
                                <label class="label-yellow">${name}</label>
                            </#if>
                            <#if name_index  % 4 == 4>
                                <label class="label-red">${name}</label>
                            </#if>
                        </#list>
                    <#else>
                        <label class="label-green">育苗播种</label>
                        <label class="label-blue">农机收割</label>
                        <label class="label-red">烘干收藏</label>
                    </#if>
                </div>
                <div style="margin-top: 0.1rem">
                    服务<font style="color:#14BC4D;font-weight: 700;">${item.serverMax}</font>亩+
                </div>
                <div style="margin-top: 0.1rem;font-size: 12px">
                    <img src="../../static/img/addr.png" height="11" width="9"/>
                    <#if item.detailAddr? length gt 10>
                        ${item.detailAddr?substring(0,10)}...
                    <#else>
                        ${item.detailAddr}
                    </#if>
                    距您${(item.distance/1000)?int?c}公里
                </div>
            </div>
        </div>
        </a>
        </#list>
    <#else>
        <div class="col-xs-12 p0" style="margin-top: 1rem;">
            暂无数据
        </div>
    </#if>
</div>

<!--分隔线-->
<div class="weui-loadmore" id="loadingcls">
    <i class="weui-loading"></i>
    <span class="weui-loadmore__tips">正在加载</span>
</div>

</body>
<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<!-- 如果使用了某些拓展插件还需要额外的JS -->
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
<!--模板-->
<script src="../../static/js/template.js"></script>
<script>
    $("#provice").select({
        title: "选择城市",
        items: [
            {
                title: "重庆",
                value: "500000",
            },
            {
                title: "北京市",
                value: "110000",
            },
            {
                title: "天津市",
                value: "120000",
            },
            {
                title: "河北省",
                value: "130000",
            },
            {
                title: "山西省",
                value: "140000",
            },
            {
                title: "内蒙古",
                value: "150000",
            },
            {
                title: "吉林省",
                value: "220000",
            },
            {
                title: "上海市",
                value: "310000",
            },
            {
                title: "江苏省",
                value: "320000"
            },
            {
                title: "浙江省",
                value: "330000"
            },
            {
                title: "安徽省",
                value: "340000"
            },
            {
                title: "福建省",
                value: "350000"
            },
            {
                title: "江西省",
                value: "360000"
            },
            {
                title: "山东省",
                value: "370000"
            },
            {
                title: "河南省",
                value: "410000"
            },
            {
                title: "湖北省",
                value: "420000"
            },
            {
                title: "湖南省",
                value: "430000"
            },
            {
                title: "湖南省",
                value: "430000"
            },
            {
                title: "广西",
                value: "450000"
            },
            {
                title: "海南省",
                value: "460000"
            }, {
                title: "四川省",
                value: "510000"
            }, {
                title: "云南省",
                value: "530000"
            }, {
                title: "西藏",
                value: "540000"
            }, {
                title: "陕西省",
                value: "610000"
            },
            {
                title: "甘肃省",
                value: "620000"
            },
            {
                title: "青海省",
                value: "630000"
            },
            {
                title: "宁夏",
                value: "640000"
            },
            {
                title: "新疆",
                value: "650000"
            }
        ]
    });

    $("#chkType").select({
        title: "选择类型",
        items: [
            {
                title: "所有类型",
                value: "",
            },
            {
                title: "土地平整",
                value: "12",
            },
            {
                title: "测土施肥",
                value: "13",
            },
            {
                title: "育苗播种",
                value: "14",
            },
            {
                title: "科技植保",
                value: "15",
            },
            {
                title: "农机收割",
                value: "16",
            },
            {
                title: "烘干储存",
                value: "17",
            },
            {
                title: "订单收购",
                value: "18",
            },
            {
                title: "无人机质保",
                value: "19",
            },
            {
                title: "云烘干/冷藏",
                value: "126"
            },
            {
                title: "农资供给",
                value: "128",
            },
            {
                title: "订单/销售",
                value: "129",
            },
        ]
    });

    $("#authType").select({
        title: "筛选",
        items: [
            {
                title: "所有",
                value: "",
            },
            {
                title: "已认证",
                value: "1",
            },
            {
                title: "未认证",
                value: "0",
            }
        ]
    });

    $("#userType").select({
        title: "认证类型",
        items: [
            {
                title: "所有",
                value: "",
            },
            {
                title: "个人",
                value: "1",
            },
            {
                title: "企业",
                value: "2",
            }
        ]
    });

    //滚动插件
    $(document.body).infinite();

    var pages = 2;
    var loading = false;  //状态标记

   $(document.body).infinite().on("infinite", function() {
        if(loading){
            //表示结束标记。底线
            return;
        }
        $("#loadingcls").show();

        //处理ajax的请求

        ajaxLoadJson();

        //完了隐藏按钮
        $("#loadingcls").hide();
    });

    //获取参数
    function getParam() {
        var obj = {};
        var areaCode = $("#provice").attr("data-values");
        if(areaCode){
            obj.areaCode = areaCode;
        }
        var categoryCode = $("#chkType").attr("data-values");
        if(categoryCode){
            obj.categoryCode = categoryCode;
        }
        var authType = $("#authType").attr("data-values");
        if(authType){
            obj.authType = authType;
        }
        var userType = $("#userType").attr("data-values");
        if(userType){
            obj.userType = userType;
        }
        return obj;
    }


    function ajaxLoadJson() {
        if(loading){
            return;
        }
        var obj = getParam();obj.page = pages;
        $.ajax({
            type:'post',
            data: obj,
            url : '/wx/ajaxListMore',
            success:function (data) {
                console.info("------------------------");
                console.info(data);
                console.info("------------------------");
                if(data && data.length > 0){
                    var htm = loadData(data);
                    //console.info(htm)
                    $("#all_data").append(htm);
                    pages++;
                }else{
                    //表示已经加载完成
                    loading = true;
                }
            },
            error:function () {
                $.alert("请求数据超时");
            }
        })


    }

    //刷新页面
    function loadAjax() {
        $("#all_data").empty();
        loading = false;
        pages = 1;
        ajaxLoadJson();
    }


    /**
     * 拼接
     * @param data
     */
    function loadData(data) {
        var htm = "";
        if(data){
             for(var i in data){
                 htm += ' <a href="/wx/severInfo/'+data[i].serverId+'">';
                 htm += ' <div class="col-xs-12 p0" style="margin-top: 1rem;padding-bottom: 0.2rem;border-bottom: 1px solid #efeff4;">';
                     htm += ' <div class="col-xs-3 p0" style="height: 120px;">';
                     if(data[i].companyImage){
                         htm += ' <img src="'+data[i].companyImage+'" class="img-responsive" style="display: inline-block; vertical-align: middle; max-height: 120px"/>';
                     }else{
                         htm += ' <img src="../../static/img/ser1.png" class="img-responsive" style="display: inline-block; vertical-align: middle; max-height: 120px"/>';
                     }
                     htm += ' </div>';
                     htm += ' <div class="col-xs-9 p0" style="padding-left: 0.2rem">';
                         htm += ' <div style="font-weight: 600;">';
                         if(data[i].companyName && data[i].companyName.length > 15){
                             htm += data[i].companyName.substring(0,12)+'...';
                         }else{
                             htm += data[i].companyName;
                         }
                         htm += ' </div>';
                         htm += ' <div style="margin-top: 0.1rem">';
                                 if(data[i].serverCategory){
                                     var li = data[i].serverCategory.split(",");
                                     for(var j = 0;j<li.length;j++){
                                         if(j % 4 == 0){
                                             htm += ' <label class="label-green">'+li[j]+'</label>';
                                         }
                                         if(j % 4 == 1){
                                             htm += ' <label class="label-blue">'+li[j]+'</label>';
                                         }
                                         if(j % 4 == 2){
                                             htm += ' <label class="label-red">'+li[j]+'</label>';
                                         }
                                         if(j % 4 == 3){
                                             htm += ' <label class="label-yellow">'+li[j]+'</label>';
                                         }
                                         if(j % 4 == 4){
                                             htm += ' <label class="label-red">'+li[j]+'</label>';
                                         }
                                     }
                                 }else{
                                     htm += ' <label class="label-green">育苗播种</label>';
                                     htm += ' <label class="label-blue">农机收割</label>';
                                     htm += ' <label class="label-red">烘干收藏</label>';
                                 }
                         htm += ' </div>';
                         htm += ' <div style="margin-top: 0.1rem">';
                            htm += ' 服务<font style="color:#14BC4D;font-weight: 700;">'+data[i].serverMax+'</font>亩+';
                         htm += ' </div>';
                         htm += ' <div style="margin-top: 0.1rem;font-size: 12px">';
                             htm += ' <img src="../../static/img/addr.png" height="11" width="9"/>';
                                     if(data[i].detailAddr && data[i].detailAddr.length > 10){
                                         htm += data[i].detailAddr.substring(0,10);
                                     }else{
                                         htm += data[i].detailAddr;
                                     }
                                     var dis = data[i].distance / 1000;
                                     htm += ' 距您'+dis.toFixed(2)+'公里';
                             htm += ' </div>';
                    htm += ' </div>';
                 htm += ' </div>';
                 htm += ' </a>';
             }
        }
        return htm;
    }


</script>
</html>