<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>服务商详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/wex_home.css">
    <style>
        a{
            color: black;text-decoration: none;
        }
        a:visited{
            color: black;
        }
        .p0{
            padding: 0;
        }
        .label-green{
            font-size: 10px;
            color: #14BC4D;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            background: #E1F9E3;
            border: 1px solid #14BC4D;
        }
        .label-blue{
            font-size: 10px;
            color: #2B85E1;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            background: #E8F3FF;
            border: 1px solid #2B85E1;
        }
        .label-red{
            font-size: 10px;
            color: #FD4F4A;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            background: #FFEBEB;
            border: 1px solid #FD4F4A;
        }
        .label-yellow{
            font-size: 10px;
            color: #EEA70E;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            background: #FCF5E3;
            border: 1px solid #EEA70E;
        }
        label{
            font-weight: normal;
        }
        .check-li{
            border-bottom: 2px solid #14BC4D;color: #14BC4D
        }
    </style>
</head>
<body style="overflow-y: auto">
<div class="container-fluid">
    <div class="row gradient" style="height: 125px;text-align: center">
        <div class="col-xs-3 p0" style="height: 125px;line-height:125px;">
            <img src="../../static/img/lands.png" height="80" width="80"/>
        </div>
        <div class="col-xs-9 p0" style="text-align: left;font-size: 16px;color: white;margin-top: 35px">
            <div>${info.companyName}</div>
            <#if info.authStatus == 1>
                <label class="label-red">已认证</label>
            <#else>
                <label class="label-green">未认证</label>
            </#if>
        </div>
    </div>
</div>

<!--服务的灵越-->
<div class="container-fluid">
    <div class="col-xs-12" style="height: 30px;">
        <div class="col-xs-4">
            <hr style="height: 20px"/>
        </div>
        <div class="col-xs-4 p0" style="margin-top: 10px;text-align: center;font-size: 16px;font-weight: 300">
            服务领域
        </div>
        <div class="col-xs-4">
            <hr>
        </div>
    </div>
    <div class="col-xs-12" style="height: 60px;margin-top: 10px;">
        <#if info.categoryList?exists>
            <#list info.categoryList as name>
                <#if name_index % 4 == 0>
                    <label class="label-green">${name}</label>
                </#if>
                <#if name_index % 4 == 1>
                    <label class="label-blue">${name}</label>
                </#if>
                <#if name_index  % 4 == 2>
                    <label class="label-red">${name}</label>
                </#if>
                <#if name_index  % 4 == 3>
                <label class="label-yellow">${name}</label>
                </#if>
                <#if name_index  % 4 == 4>
                <label class="label-red">${name}</label>
                </#if>
            </#list>
        </#if>
    </div>
</div>

<!--分隔线-->
<div class="col-xs-12" style="padding: 0;background: #F0F0F0;height: 10px;margin-top: 10px;">

</div>

<!--文字-->
<div class="container-fluid" style="font-size: 13px">
    <div class="col-xs-12" style="height: 40px;line-height: 40px;border-bottom: 1px solid #efeff4">
        <div class="col-xs-3 p0">
            服务等级
        </div>
        <div class="col-xs-9 p0">
            ${info.serverGrade}
        </div>
    </div>
    <div class="col-xs-12" style="height: 40px;line-height: 40px;border-bottom: 1px solid #efeff4">
        <div class="col-xs-3 p0">
            联系人
        </div>
        <div class="col-xs-9 p0">
            ${info.linkName}
        </div>
    </div>
    <div class="col-xs-12" style="height: 40px;line-height: 40px;border-bottom: 1px solid #efeff4">
        <div class="col-xs-3 p0">
            联系电话
        </div>
        <div class="col-xs-9 p0">
            ${info.linkPhone}
        </div>
    </div>
    <div class="col-xs-12" style="height: 40px;line-height: 40px;border-bottom: 1px solid #efeff4">
        <div class="col-xs-12 p0">
            <img src="../../static/img/addr.png" height="11" width="9"/>
            <#if info.detailAddr?length gt 20>
                ${info.detailAddr?substring(0,20)}...
            <#else>
                ${info.detailAddr}
            </#if>
            <#if info.distnce??>
                距您${(info.distnce/1000)?int?c}公里
            </#if>
        </div>
    </div>
</div>

<!--分隔线-->
<div class="col-xs-12" style="padding: 0;background: #F0F0F0;height: 10px;margin-top: 10px;">

</div>

<!--案例-->
<div class="container-fluid" style="font-size: 13px">
    <div class="col-xs-12" style="height: 30px;line-height: 30px;text-align: center;font-size: 16px;padding: 5px">
        <div class="col-xs-6 p0" id="compalyBtn" onclick="checkBox1(this)" style="border-bottom: 2px solid #14BC4D;color: #14BC4D">
            公司简介
        </div>
        <div class="col-xs-6 p0" id="caseBtn" onclick="checkBox2(this)">
            服务案例
        </div>
    </div>
    <!--企业简介-->
    <div class="col-xs-12" id="compalyId" style="font-size: 12px;padding-top: 10px;display: block;">
        <#if info.remaks?exists>
            <#list info.remaks as item>
                <p>${item.serverInfo}</p>
                <#if item.serverImage?exists>
                    <img src="${item.serverImage}" class="img-responsive"/>
                </#if>
            </#list>
        </#if>
    </div>
    <!--案例-->
    <div class="col-xs-12" id="caseId" style="font-size: 12px;padding-top: 10px;display: none;">
        <#if info.caseList?exists>
            <#list info.caseList as item>
                <#if item?exists>
                    <a href="/wx/caseInfo/${item.caseId?c}">
                        <div class="col-xs-6 p0" style="border-right: 5px solid white;">
                            <#if item.caseImage?? >
                                <img src="${item.caseImage}" class="img-responsive"/>
                            <#else>
                                <img src="../image/addr.png" class="img-responsive"/>
                            </#if>
                            <p>
                                <#if item.caseName?length gt 20>
                                    ${item.caseName?substring(0,20)}...
                                <#else>
                                    ${item.caseName}
                                </#if>
                            </p>
                        </div>
                    </a>
                </#if>
            </#list>
        </#if>
    </div>
</div>

<!--底部-->
<div style="width:100%;height: 40px;line-height: 40px;font-size: 16px;text-align: center;
    position: fixed;left: 0;bottom: 0;z-index: 999;color: white" onclick="linkHe()">
    <div style="background: #E99D19;width: 40%;float: left;">
        收藏
        <img src="../../static/img/sc.png" height="20" width="20" style="margin-top: -5px;"/>
    </div>
    <div style="background: #14BC4D;width: 60%;float: right" onclick="linkHe()">
        联系他
    </div>
</div>

</body>
<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script>
    function checkBox1(obj) {
        $("#caseBtn").removeClass('check-li');
        $("#compalyBtn").removeClass('check-li');
        $(obj).addClass('check-li');
        $("#compalyId").show();
        $("#caseId").hide();
    }
    function checkBox2(obj) {
        $("#caseBtn").removeClass('check-li');
        $("#compalyBtn").removeClass('check-li');
        $(obj).addClass('check-li');
        $("#caseId").show();
        $("#compalyId").hide();
    }
    function linkHe(){
        $.alert("请下载APP,应用宝输入和农家", "联系TA");
    }
</script>
</html>