.head-padding{
    padding-right:0;padding-right: 0;
}
.gradient{
    background: #14BC4D;
    background: -moz-linear-gradient(top,  #14BC4D 0%, #1BC1A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14BC4D), color-stop(100%,#1BC1A4));
    background: -webkit-linear-gradient(top,  #14BC4D 0%,#1BC1A4 100%);
    background: -o-linear-gradient(top,  #14BC4D 0%,#1BC1A4 100%);
    background: -ms-linear-gradient(top,  #14BC4D 0%,#1BC1A4 100%);
    background: linear-gradient(to bottom,  #14BC4D 0%,#1BC1A4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14BC4D', endColorstr='#1BC1A4',GradientType=0 );
}
.my-city{
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
.select-green {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    outline: none;
    border: 0 none;
    position: relative;
    padding: 0 0 0 5px;
    color:white;
    background: none;
    background-color: transparent;
    font-size: 16px;
    z-index: 99;
    overflow: hidden;
}
.select-green-btn{
    content:' ';
    position: absolute;
    left:20%;
    top:50%;
    margin-top:-5px;
    width:0px;
    height:0px;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-top:8px solid white;
    font-size:0px;
    line-height:0px
}
.padd_0{
    padding: 0px;
}